{% extends 'base.html'%}
{% block title%}Add Bill{%endblock%}
{% block content%}
  <div class='nav-bar'><h1><a href="{% url 'main'%}" class='link'>&#x2190; </a>Delete Bill</h1></div>
  <form method="POST">
    <div class='form-labels'>
    {% csrf_token %}
    <p class='link'>Are you sure you want to delete your {{bill}} bill?</p>
    <button type='Submit' class='button'>Delete</button>
    </div>
  </form>
{%endblock%}