
{% extends 'base.html'%}


{% block title%}Bills Due{%endblock%}
{% block content%}
<div class='nav-bar'><div><h1>Hello {{user|title}},</h1><h4>You currently have {{bills|length}} bills!</h4></div><div class='nav-links'><a href="{% url 'logout'%}">Logout</a><a href="{%url 'add_bill'%}" class='add-bill'>+</a></div></div>
{% for bill in bills%}
{% if bill.due_date|date:'%Y-%m-%d' <= todaysdate|date:'%Y-%m-%d'%}
<div class='bills due-bills'>
  <div class='content-holder'>
  {% if bill.paid %}
  <div class='paid-bill'><ion-icon name="checkmark-circle-outline" class='paid'></ion-icon></div>
  {%else%}
  <div class='paid-bill'><ion-icon name="checkmark-circle-outline" class='not-paid'></ion-icon></div>
  {%endif%}
  <a href="{% url 'update' bill.id%}" class='bill-name'><h3>{{bill}}</h3></a>
  <h4>({{bill.price}})Due-Date: {{bill.due_date}}</h4>
  <div class='links'>
    <a href="{% url 'delete_bill' bill.id%}" class='delete'>REMOVE</a>
  </div>
  </div>
</div>
{% else %}
<div class='bills'>
  <div class='content-holder'>
  {% if bill.paid %}
  <div class='paid-bill'><ion-icon name="checkmark-circle-outline" class='paid'></ion-icon></div>
  {%else%}
  <div class='paid-bill'><ion-icon name="checkmark-circle-outline" class='not-paid'></ion-icon></div>
  {%endif%}
  <a href="{% url 'update' bill.id%}" class='bill-name'><h3>{{bill}}</h3></a>
  <h4>({{bill.price}})Due-Date: {{bill.due_date}}</h4>
  <div class='links'>
    <a href="{% url 'delete_bill' bill.id%}" class='delete'>REMOVE</a>
  </div>
  </div>
</div>

{% endif%}
{% endfor %}
{%endblock%}