{% extends 'base.html' %}
{% block content%}
<div class='nav-bar'><h1>Login</h1></div>
<div class='card-body'>
  <form method="POST">
    {% csrf_token %}
    <div class='form-labels'>
      <label >{{form.username}}</label>
      <label >{{form.password}}</label>
      <input type="submit" value="Login" class='button'/>
    </div>
  </form>
  <p class='form-link'>Don't have an account? <a href="{%url 'register'%}" class='link'>Register</a></p>

</div>
{% endblock %}