{% extends 'base.html' %}
{% block content%}

  <div class='nav-bar'><h1>Register</h1></div>
  <div class='card-body'>
  <form method="POST">
    {% csrf_token %}
    <div class='form-labels'>
      <label for="">{{form.username}}</label>
      <label for="">{{form.password}}</label>
      <label for="">{{form.password_confirmation}}</label>

    <button type='submit' class='button'>Register</button>
  </div>
  </form>
  <p class='form-link'>Have an account? <a href="{% url 'login' %}" class='link'>Login</a></p>

</div>
{% endblock %}