{% extends 'base.html'%}
{% block title%}Add Bill{%endblock%}
{% block content%}
<div class='nav-bar'><h1><a href="{% url 'main'%}" class='link'>&#x2190; </a>Update Bill</h1></div>
<div class='card-body'>
  <form method="POST">
    {% csrf_token %}
    <div class='form-labels'>
      <h4>{{form.name.label}}</h4>
      <label>{{form.name}}</label>
      <h4>{{form.due_date.label}}</h4>
      <label >{{form.due_date}}</label>
      <h4>{{form.price.label}}</h4>
      <label >{{form.price}}</label>
      <h4>{{form.paid.label}}</h4>
      <label type='checkbox'>{{form.paid}}</label>
      <button type='Submit' class='button'>Add Bill</button>
    </div>
  </form>
</div>
{%endblock%}