*{
  margin: 0;
  box-sizing: border-box;
}
.main{
  background-color: #fafafa;
  font-family: 'Nunito';
  padding-top: 50px;
}
.main-container{
  max-width: 650px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #9dd6e45e 0%,  #4cc7f781 50%, #2dd2ff 100%);
  }
  .bills{
    padding: 20px;
    border-bottom: solid 1px #025f8a31;

  }
  .due-bills{
    padding: 20px;
    border-bottom: solid 1px #025f8a31;
    background-color: rgba(255, 0, 0, 0.667);
  }
  .content-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1, h4{
    margin-left: 10px;
    color: #025f8a;
  }
  .bill-name{
    color: #35b6f1;;
  }

  .nav-bar a{
    text-decoration: none;
    padding-right: 5px;
    color: #fff;
  }
  a{
    text-decoration: none;
  }
  .delete{
    color: rgba(211, 38, 38, 0.79);
    font-size: 12px;
    font-family:'Arial Narrow Bold', sans-serif;
    letter-spacing: .5px;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .add-bill{
    font-size: 24px;
    margin-left: 30px;
    margin-top: 10px;
  }
.paid{
  background-color: green;
  border-radius: 50%;
  font-size: 20px;
}
.form-labels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label{
  width: 100%;
  padding: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type='text'], input[type='password'], input[type='number'], textarea{
  border : 1px solid  #35b6f1;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
}
input[type='checkbox']{
  border : 1px solid  #35b6f1;
  border-radius: 5px;
  padding: 10px;
  width: 15%;
}
.button{
  border: 1px solid ;
  background-color: #fafafa;
  color:  #35b6f1;
  padding:10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;

}
.link{
  color: #025f8a;
}
.link:after{
  color: #025f8a;
}
.form-link{
  text-align: center;
  padding: 10px;
}
